{% extends 'layout.html' %} {% block title %}{% endblock %} {% block content %}

<div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome! Please Login.</p>

    <div>
        <form id="loginform">
            <div><span>User</span><span><input type="text" name="email"></span></div>
            <div><span>Password</span><span><input type="password" name="passwd"></span></div>
            <a href="javascript:login()" class="btn btn-default">login</a><br>
            <a href="javascript:register()" class="btn btn-default">register</a><br>

        </form>
    </div>

    <hr><br>
    <a href="/auth/linkedin" class="btn btn-default">LinkedIn</a>
    <a href="/auth/github" class="btn btn-default">Github</a>
    <a href="/auth/twitter" class="btn btn-default">Twitter</a>
    <a href="/auth/facebook" class="btn btn-default">Facebook</a>
    <a href="/auth/instagram" class="btn btn-default">Instagram</a>

</div>

{% endblock %}