<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>auth</title>

</head>

<body>
        {% autoescape false %} 
    <script>
        window.parent.opener.postMessage(JSON.parse('{{data|raw|json_encode}}'), "*")
        window.parent.close()
    </script>

</body>

</html>